<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
            <div class="row ">

                <div style="border-radius:15px ;" class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 p-5 mb-5  bg-light container-fluid">
                    <h1 class="text-secondary m-3 ">Serch a Friend</h1>
                    <hr class="m-3">
                    <div class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 m-3">
                        <label for="" class="label-control">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 m-3">
                        <button class="btn btn-primary">Serch</button>
                    </div>

                    


                </div>
            </div>
        </div>
    </div>
</div>